/* ======================================================
   ================== Start Main Rules ================== */

    body {
        background-color: #f4f4f4;
        font-size: 16px;
    }

    .asterisk {
        font-size: 30px;
        position: absolute;
        right: 25px;
        top: 5;
        color: #d21313;
    }

/* ================== End Main Rules ====================
   ====================================================== */


   
/* ======================================================
   ================== Start Login Form ================== */

    .login {
        width: 300px;
        margin: 100px auto;
    }

    .login h4 {
        color: #888888;
    }

    .login input {
        margin-bottom: 10px;
    }

    .login .form-control {
        background-color: #eaeaea;
    }

    .login .btn {
        background-color: #008dde;
    }

/* =================== End Login Form ===================
   ====================================================== */


/* ======================================================
   ================ Start Bootstrap Edit ================ */

    .navbar {
        border-radius: 0;
        margin-bottom: 15px;
        padding: 0;
    }

    .nav > li > a,
    .navbar-brand {
        
    }

    .navbar-brand {
        font-size: 1em;
    }

    .navbar-dark .navbar-nav .show>.nav-link,
    .navbar-dark .navbar-nav .show>.nav-link:focus,
    .navbar-dark .navbar-nav .show>.nav-link:hover,
    .dropdown-menu {
        background-color: #0b5bab;
    }

    .dropdown-menu {
        border: none;
        margin: auto;
        padding: 0;
        border-radius: 0;
    }

    .dropdown-item {
        color: #e6e6e6;
        padding: 0.3em 0.5em;
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
        color: #e6e6e6;
        background-color: #8e448e;
    }

    .form-control {
        position: relative;
    }


/* ================ End Bootstrap Edit ==================
   ====================================================== */



/* ======================================================
   ================== Start Member Page ================= */

    h1 {
        font-size: 35px;
        margin: 20px 0;
        font-weight: bold;
        color: #666666;
    }

    .show-pass {
        position: absolute;
        top: 7px;
        right: -30px;
    }

    .main-table {
        -webkit-box-shadow: 0px 3px 10px #ccc;
        -moz-box-shadow: 0px 3px 10px #ccc;
        box-shadow: 0px 3px 10px #ccc;
    }

    .main-table td {
        background-color: #fff;
        padding: .4em;
        vertical-align: middle;
    }

    .main-table tr:first-child td {
        background-color: #343a40;
        color: rgb(167, 167, 167);
    }

    .main-table .btn {
        padding: .1em 0.3em;
        border: none;   
    }

/* ================== End Member Page ===================
   ====================================================== */